<p>{{ selectedDate }}</p>
<p>{{ displayedDate }}</p>
<label>Data</label>
<input
  type="text"
  mask="d0/M0/0000"
  (focus)="opened = true"
  [(ngModel)]="displayedDate"
  [dropSpecialCharacters]="false"
  [leadZeroDateTime]="true"
/>

<div *ngIf="opened" class="overlay" (click)="opened = false"></div>
<div *ngIf="opened" class="calendar">
  <div class="header">
    <button (click)="previousMonth()"><</button>
    <span
      >{{ currentDate.getDate() }}/{{ currentMonth + 1 }}/{{
        currentYear
      }}</span
    >
    <button (click)="nextMonth()">></button>
  </div>
  <div class="week-days">
    <div
      class="week-day"
      *ngFor="let day of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']"
    >
      {{ day }}
    </div>
  </div>
  <div class="days">
    <div *ngFor="let week of weeks" class="days-row">
      <div
        *ngFor="let day of week"
        class="day"
        (click)="selectDate(day)"
        [class.selected]="day === selectedDate"
      >
        {{ day ? day.getDate() : "" }}
      </div>
    </div>
  </div>
</div>
