:host {
  position: relative;

  label,
  input {
    display: block;
  }

  .overlay {
    position: fixed;
    inset: 0;
  }

  .calendar {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: aqua;
    padding: 8px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      button {
        padding: 8px;
        background-color: blue;
        border: none;
        cursor: pointer;
        color: #fff;
      }
    }

    .week-days {
      display: flex;
      justify-content: space-around;
      margin-bottom: 4px;

      .week-day {
        width: calc(100% / 7);
        text-align: center;
        padding: 8px;
      }
    }

    .days {
      display: flex;
      flex-direction: column;

      &-row {
        display: flex;
        justify-content: space-around;

        .day {
          text-align: center;
          padding: 8px;
          width: calc(100% / 7);

          &.selected {
            background-color: darkcyan;
          }

          &.has-day:hover {
            cursor: pointer;
            background-color: cadetblue;
          }
        }
      }
    }
  }
}
