<p>Selected: {{ selectedDate }}</p>
<p>Range: {{ selectedRangeDate | json }}</p>
<p>Displayed: {{ displayedValue }}</p>
<label>Data</label>
<input
  type="text"
  [mask]="!isRange ? 'd0/M0/0000' : ''"
  (focus)="opened = true"
  [(ngModel)]="displayedValue"
  (ngModelChange)="changeValue($event)"
  [dropSpecialCharacters]="false"
  [leadZeroDateTime]="true"
/>

<div *ngIf="opened" class="overlay" (click)="opened = false"></div>
<div *ngIf="opened" class="calendar">
  <div class="header">
    <button (click)="previousMonth()"><</button>
    <span
      >{{ currentDate.getDate() }}/{{ currentMonth + 1 }}/{{
        currentYear
      }}</span
    >
    <button (click)="nextMonth()">></button>
  </div>
  <div class="week-days">
    <div
      class="week-day"
      *ngFor="let day of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']"
    >
      {{ day }}
    </div>
  </div>
  <div class="days">
    <div *ngFor="let week of weeks" class="days-row">
      <ng-container *ngFor="let day of week">
        <div
          class="day"
          [class.has-day]="day"
          [class.selected]="
            (day &&
              day?.getDate() === selectedDate?.getDate() &&
                day?.getMonth() === selectedDate?.getMonth() &&
                day?.getFullYear() === selectedDate?.getFullYear()) ||
            (selectedRangeDate[0] &&
              day?.getDate() === selectedRangeDate[0].getDate() &&
              day?.getMonth() === selectedRangeDate[0].getMonth() &&
              day?.getFullYear() === selectedRangeDate[0].getFullYear())
          "
          (click)="day && selectDate(day)"
          (mouseenter)="day && isRange && hoverDay(day)"
        >
          {{ day ? day.getDate() : "" }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
