<label>Data</label>
<input
  type="text"
  [mask]="!isRange ? 'd0/M0/0000' : 'd0/M0/0000 - d0/M0/0000'"
  (focus)="onFocus()"
  [(ngModel)]="displayedValue"
  (ngModelChange)="changeValue($event)"
  [dropSpecialCharacters]="false"
  [leadZeroDateTime]="true"
  (blur)="onBlur()"
/>

<div *ngIf="opened" class="overlay" (click)="opened = false"></div>
<div *ngIf="opened" class="calendar">
  <div class="header">
    <button (click)="previousMonth()"><</button>
    <span
      >{{ currentDate.getDate() }}/{{ currentMonth + 1 }}/{{
        currentYear
      }}</span
    >
    <button (click)="nextMonth()">></button>
  </div>
  <div class="week-days">
    <div
      class="week-day"
      *ngFor="let day of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab']"
    >
      {{ day }}
    </div>
  </div>
  <div class="days">
    <div *ngFor="let week of weeks" class="days-row">
      <ng-container *ngFor="let day of week">
        <div
          class="day"
          [class.has-day]="day"
          [class.selected]="isSelected(day)"
          [class.secondary-bg]="isSecondarySelection(day)"
          (click)="day && selectDate(day)"
          (mouseenter)="temporaryHoveredDate = day"
          (mouseleave)="temporaryHoveredDate = null"
        >
          {{ day ? day.getDate() : "" }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
